/* * {
  padding: 0;
  margin: 0;
} */

html {
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  /*margin: 0 2.6em 2.6em 0; */
  scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
}

/* Global Rulesets */

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Main Layout Card */

.main-card {
  display: flex;
  justify-content: space-between;
}

/* Landing Card */
.a-card {
  height: 100vh;
}

/* Student Information Card */

.s-card {
  font-weight: 100;
}

.s-name {
  font-weight: 700;
}

.s-id {
  font-weight: 400;
}

/* Navigation */

.nav-card {
  padding-right: 30px;
}

.nav-card li {
  margin: 15px 0px;
}

.nav-card a {
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
}
.nav-card a:hover {
  color: white;
  background-color: #111;
}

/* Assignment Title Card */

.a-card {
  margin-top: 60px;
}

/* .shape {
  width: 350px;
  height: 350px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid red;
  position: inherit;
} */

.a-content {
  margin-top: 6em;
  text-align: center;
  white-space: nowrap;
  /* padding-top: 6em; */
}

.a-title {
  text-align: center;
  margin-left: -60px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.a-title-above {
  margin: 0;
  font-weight: 100;
  font-size: 1.2rem;
}
.a-title-below {
  font-weight: 600;
  padding-top: 20px;
  font-size: 1.2rem;
}

/* Part one Card */
.part-1-card {
  /* height: 100vh; */
  width: auto;
  background-color: #fff;
  color: #000;
  margin: auto;
  padding: 5px 0 0 20px;
  overflow: visible;
}

.part-1-title {
  margin: 0;
}

.part-1-id {
  font-weight: 600;
  font-size: 16px;
}

.p1-id-p {
  font-size: 12px;
  font-weight: 400;
}

.part-1-id-red {
  color: red;
}

.part-1-img {
  height: 400px;
  width: auto;
}

.part-1-img-b {
  height: 150px;
  width: auto;
}

/* Questions */
.question-title {
  font-weight: 400;
  text-decoration: underline;
}

.question-card {
  display: flex;
  justify-content: space-around;
}

.q1-result {
  text-align: center;
  font-weight: 600;
  border: solid 1px black;
  border-radius: 4px;
}

.part-1-img-c {
    height: 200px;
    width: auto;
}

.part-1-img-d {
    height: 150px;
    width: auto;
}

.part-1-q4 {
    height: 120px;
    width: auto;
}

/* Setup Grid */
.setup-grid {
    display: flex;
    grid-template-columns: 14px 14px 14px;
    grid-gap: 1px 14px;
    justify-content: space-around;
}

.setup-img-1 {
    height: 350px;
    width: auto;
    display: block;
}

.cmd-imgs > img {
    text-align: center;
    width: 550px;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
    display: block;
}


/* Part 2 Refined */

/* Linux Color Themes */
.s-u {color: #E95420}
.s-f {color: #0B57A4}
.s-k {color: #367BF0}

.part-two-card {
  text-align: center;
  margin: 0 auto;
}

.part-two-header {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.part-two-header {
  background-image: url(/images/banners/linux-header.jpg);
}

.sub-heading > p {
  margin: 0;
  padding: 0;
}

.sub-heading {
  padding-bottom: 25px;
}

.part-two-section {
  border: 1px solid rgb(255, 0, 0);
  border-radius: 3px;
  width: 45%;
  margin: 0 auto;
  padding: 8px;
}

.part-two-footer {
  margin: 0 auto;
  font-size: 12px;
}

.grid-setup {
  padding: 10px;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}

.grid-info > img {
  height: 350px;
  width: auto;
}

.grid-info > h3, p {
  margin: 0;
}

.grid-info > p {
  padding-bottom: 10px;
}

.grid-info > .screen-display {
  height: 250px;
  width: auto;
  padding: 10px;
}

/* Part 3  Refined */

/* Image Grid */
.p3-grid {
  padding: 10px;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}

.p3-grid div img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Results on Hover */
.p3-grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.p3-grid-overlay:hover {
  opacity: 1;
}

.p3-grid-image {
  width: 260px;
  position: relative;
} 

.p3-image-item {
  display: block;
  width: 100%;
}

/* TO:DO Refine Table / Summary */
/* Table */
.final-table {
  padding-top: 50px;
}

.final-table img {
  margin: 0 auto;
  width: 550px;
  height: auto;
}


/* Evaluation */

.final-results {
  margin: 0 auto;
  padding: 0 200px 50px 200px;
  text-align: left;
}



/* Footer */
.footer-card {
  text-align: center;
  font-size: 9px;
  padding-bottom: 10px;
}

/* Custom Gradient WIP */

/* Gradient animation Testing */

/* .test {
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: animate 10s linear infinite;
    position: absolute;
}
@keyframes animate {
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 80%;
    }
} */

/* .test {
    height: 350px;
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    overflow: hidden;

} */

/* .test:before {
    content: '';
    height: 150%;
    width: 150%;
    position: absolute;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7,
        #fd004c
    );
    left: -20%;
    top: -20%;
    animation: spin 2.6s infinite linear;
}
@keyframes spin {
    100%{
        transform: rotate(-360deg);
    }
}

.test:after {
    position: absolute;
    content: 'HELLO';
    background-color: #000;
    height: 98%;
    width: 98%;
    top: 1%;
    left: 1%;
    letter-spacing: 6px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 20px;
} */

/* .test-inside {
    font-family: 'Courier New', Courier, monospace;
} */

/* img {
    height: 200px;
    width: 200px;
} */

/* Play around with this more! */
.glow-on-hover {
  width: 350px;
  height: 350px;
  margin: auto;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
}

.glow-on-hover:active {
  color: transparent;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.836);
  left: 0;
  top: 0;
  border-radius: 50%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
